<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!--link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"-->
    </head>

    <body>

        <header>
            <div class="">
                <img id='logo'>
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <p>Process WEB Page using NPL</p>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="inputURL" type="text" name="input" value="" placeholder="Please enter a URL to process">
                    <button id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                </form>
                <br><br>

                <!--div class ="">
                    <label for="url">Enter URL to process</label>
                    <textarea class= "myInput" id="url" placeholder="Enter your url here" rows="1" cols="50"></textarea>
                    <button id="generate" type = "submit"> Generate </button>
                  </div-->
            </section>

            <section>
                <strong>Results for provided URL :</strong>
                <div id="results"></div>
            </section>
        </main>
        <div id = "nlpResults"></div>
        <br><br><hr>

        <footer>
            <p>This is a footer</p>
        </footer>

        <hr>
        <br><br><br>

        <!--script src="src/client/js/app.js" type="text/javascript"></script-->

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>

